name: Build and Release JAR

on:
  push:
    tags:
      - 'v*' # Triggers on tags like v1.0, v2.1.3, etc.

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install sbt
        run: |
          sudo apt-get update
          sudo apt-get install apt-transport-https curl gnupg -yqq
          echo "deb https://repo.scala-sbt.org/scalasbt/debian all main" | sudo tee /etc/apt/sources.list.d/sbt.list
          echo "deb https://repo.scala-sbt.org/scalasbt/debian /" | sudo tee /etc/apt/sources.list.d/sbt_old.list
          curl -sL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x2EE0EA64E40A89B84B2DF73499E82A75642AC823" | sudo -H gpg --no-default-keyring --keyring gnupg-ring:/etc/apt/trusted.gpg.d/scalasbt-release.gpg --import
          sudo chmod 644 /etc/apt/trusted.gpg.d/scalasbt-release.gpg
          sudo apt-get update
          sudo apt-get install sbt -y

      - name: Build with sbt
        run: sbt package

      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: fit_generator
          path: target/scala-*/**/*.jar

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:

      - name: Download JAR Artifact
        uses: actions/download-artifact@v4
        with:
          name: fit_generator

      - name: Move JARs to workspace root
        run: mv fit_generator/*.jar .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: "*.jar"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
